#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px black dotted
}
p{
    font-size: 144px;
    position: relative;
    right:-30px;
    
}
body{
    background-image: url("./Assets/679.jpg");
}